* {
	font-family: sans-serif;
}

body {
	margin: 0;
}

p {
	margin: 5px auto;
}

#banner {
	background: #0b20d9;
	margin-bottom: 50px;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: #99c6cf;
	display: inline;
	margin: 0;
}

h2 {
	text-align: center;
	color: white;
	font-size: 48px;
}

h3 {
	font-size: 32px;
	margin: 10px;
}

div, form {
	text-align: center;
}

a {
	color: white;
}

a:hover {
	font-weight: bold;
}

#form {
	width: 250px;
	margin: 0 auto;
}

#error {
	color: red;
	margin-bottom: 20px;
	font-size: 24px;
}

#space { /* temporary */
	height: 38px;
}

input:not([type='checkbox']):not([type='radio']) {
	text-align: center;
	width: 240px;
	height: 30px;
	font-size: 22px;
}

.result input[type='radio'] {
	margin: 10px auto;
	transform: scale(2);
}

button {
	width: 200px;
	height: 40px;
	font-size: 16px;
}

form > input {
	margin-bottom: 20px;
}

#airportSelect {
	text-align: center;
	width: 180px;
	height: 30px;
	font-size: 20px;
}

#pageText {
	color: white;
	font-size: 20px;
	float:left;
	text-align: left;
	padding-left: 20px;
}

table, th, td {
	background: #82d2f5;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
}

#searchtd {
	padding: 10px;
}

.result {
	background: #82d2f5;
	width: 50%;
	height: 100px;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
}

.result table {
	width: 100%;
}

.result table, .result td {
	border: none;
	background: none;
}

.section {
	display: block;
	color: white;
}

#username {
	width: 100px;
	height: 20px;
	font-size: 14px;
}

.rep {
	background: rgba(255,255,255,.6);
    width: 20%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

section {
	background: #82d2f5;
    width: 70%;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}

#flightnum {
	width: 100px;
	height: 20px;
	font-size: 14px;
}

ol {
	text-align: left;
	width: 20%;
	margin: 0 auto;
}