* {
	font-family: sans-serif;
}

body {
	margin: 0;
}

#banner {
	background: #0b20d9;
	margin-bottom: 50px;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: #99c6cf;
	display: inline;
	margin: 0;
}

div, form {
	text-align: center;
}

a {
	color: white;
}

a:hover {
	font-weight: bold;
}

#form {
	width: 250px;
	margin: 0 auto;
}

#error {
	color: red;
	margin-bottom: 20px;
}

#space { /* temporary */
	height: 38px;
}

input:not([type='checkbox']) {
	text-align: center;
	width: 240px;
	height: 30px;
	font-size: 22px;
}

form > input {
	margin-bottom: 20px;
}

input[type='submit'] {
	width: 200px;
	height: 40px;
}

#airportSelect {
	text-align: center;
	width: 180px;
	height: 30px;
	font-size: 20px;
}

#pageText {
	color: white;
	font-size: 20px;
	float:left;
	text-align: left;
	padding-left: 20px;
}

table, th, td{
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
}

#searchtd {
	padding: 10px;
}